html, body {
  margin: 0;
  padding: 0;
  background-color: #F0F5F1;
}

canvas{
	padding-left: 25px;
	padding-top: 25px;
}

#myChart{
  position: absolute;
  top: 0px;
  left: 700px;
  padding-right: 0;
}
